.columnsHeadings {
    h4 {
        font-family: Butler-Black;
    }
}


.display-4-brown {
    font-size: 2.3vw;
    color: #483C2D;
    text-transform: uppercase;
    font-weight: 400;
}

.display-3-brown {
    font-size: 3.2vw;
    color: #483C2D;
    text-transform: uppercase;
    font-weight: 400;
}

.display-4-black {
        font-size: 2.8vw;
        color: black;
        text-transform: uppercase;
        font-weight: 400;
    
}

.display-3-black {
    font-size: 3.2vw;
    color: black;
    text-transform: uppercase;
    font-weight: 400;

}

.h1-brown {
    color: #483C2D;
}

.display-5-brown {
    font-size: 1.8vw;
    color: #483C2D;
    text-transform: uppercase;
    font-weight: 400;
}

p {
    font-size: 0.9vw;
}

@include media-breakpoint-down(lg) {
    p {
        font-size: 1.5vw
    }
}