.section__4 {
    
    .container-fluid-cookie {  
        height: 100%;
        .img-wrapper {
            
            position: relative;
            text-align: center;
            
            
            img {
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }

            .circle__text-wrapper {
                background-color: $white;
                width: 29vw;
                height: 29vw;
                border-radius: 50%;
                
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);

                .cookie-text {
                    
                   .text-darilni-bon {
                    
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 1.1vw;
                    color: #707070;
                    
                   }
                }

                

                .link-button {
                    
                    a {
                        padding-left: 0.5rem;
                    }

                    img {
                        width: 2rem;
                    }

                    span {
                        font-size: 1.5rem;
                    }

                }
 
            }

            
        }
    }

        
    
}

///////////////// RESPONSIVE
@include media-breakpoint-down(xxl) {
    .section__4 {
        .circle__text-wrapper {
            .cookie-text {
                p {
                    margin-top: 0.7rem !important;
                    padding-top: 0.7rem !important;
                }
            }
        }
    }
}

@include media-breakpoint-down(xl) {
    .section__4 {
        .circle__text-wrapper {
            .cookie-text {
                p {
                    margin-top: 0.5rem !important;
                    padding-top: 0.5rem !important;
                }
            }
        }
    }
}
        


@include media-breakpoint-down(lg) {
    .section__4 {
        .circle__text-wrapper {
            width: 15rem;
            height: 15rem;

            .cookie-text {
                p {
                    margin-top: 0 !important;
                    padding-top: 0 !important;
                }
            }

            .link-button {
                margin-top: -1rem;

                img {
                    width: 0.5rem;
                }
            }
        }
    }
        
}