.section__novice {

    margin-bottom: 5rem;

    .container-fluid {
        padding-bottom: 5rem;
    }
    
    .card {
        padding: 0 3rem;
    }

     
    .col-4 {
        margin-top: 5rem;
    }
}