.section__novice {

    margin-bottom: 5rem;

    .container-fluid {
        padding-bottom: 5rem;
    }
    
    .card {
        padding: 0 3rem;
    }

     
    .col-lg-4 {
        margin-top: 5rem;
    }
}

@include media-breakpoint-down(lg) {
    .section__novice {
        .col-lg-4 {
            margin-top: 2rem;
            border-right: 0 !important;
        }

        .card {
            padding: 0 1rem;
        }

    }
}