
.intro {
    background: linear-gradient(to bottom, white 0%, white 20%, #F8F0EB 20%, #F8F0EB 75%, white 75%, white 100% );
    .last-col {
        position: relative;
        z-index: 1;
    }

    .img-zlica {

    }

    .img-eu {
        position: absolute;
        top: -9%;
        left: 60%;
    }

    .img-button {
        position: absolute; 
        top: 50%;
        left: 60%;
    }
   
}

.container-fluid-100 {
    position: relative;
    width: 95%;
    .col-text {
        // padding: 13rem 0 0 8.5rem;
        padding: 5rem;
        
    }
}


.picContainer {
    position: relative;
    margin-bottom: 26rem;
    .row   {
        height: 75rem;
    }

    .col-md-6{
        margin: 1px; 
      } 

      .pic2 {
          position: absolute;
          bottom: 0;
          right: 0;
      }
}

.section__4 {
    background:  linear-gradient(to bottom, white 0%, white 5%, #F8F0EB 5%, #F8F0EB 80%, white 80%, white 100%);
   
    .container-fluid-100 {
        
        margin-bottom: 10rem;
        width: 95%;
        max-height: 63rem;
        float: right;
        overflow: hidden;
    }

    .col-2 {
        
        .img-div1 {
            width: 30rem;

            img {
                max-width: 100%;
            }
        }
    }

    .first__col-5 {
        padding-top: 10rem;
    }
}

.prepustite__se--trenutkom {
    margin-top: 10rem;
    
    .container-fluid-100-right {
        float: right;
       
    }
    .quote {
        margin-top: 4rem;
    }
}

.nagrade {
    margin-top: 10rem;


    .col-border {
        height: 12rem;
        border-right:  solid 0.1rem black;
    }
}



