
.intro {
    background: linear-gradient(to bottom, white 0%, white 20%, #F8F0EB 20%, #F8F0EB 75%, white 75%, white 100% );
    .last-col {
        position: relative;
    }

    .img-zlica {
        position: relative;
    }

    .img-eu {
        position: absolute;
        top: -9%;
        left: 60%;
    }

    .img-button {
        position: absolute; 
        top: 50%;
        left: 60%;
    }
   
}

.container-fluid-100 {
    position: relative;
    width: 95%;
    h4 {
        // padding: 13rem 8rem 0rem 8rem;
        font-size: 3rem;
    }
    .col-text {
        padding: 13rem 0 0 8.5rem;
    }
    .link-button {
        
        a {
            padding-left: 0.9rem;
            text-decoration: none;
            color: inherit;
            font-size: 1.1rem;
        }
    }

    
}

.picContainer {
    position: relative;
    margin-bottom: 26rem;
    .row   {
        height: 75rem;
    }

    .col-md-6{
        margin: 1px; 
      } 

      .pic2 {
          position: absolute;
          bottom: 0;
          right: 0;
      }

      

}

.section__4 {
    background: linear-gradient(to bottom, white 0%, white 50%, #F8F0EB 50%, #F8F0EB 100%);
   
    .container-fluid-100 {
        background-color: #F8F0EB;
        margin-bottom: 10rem;
        width: 95%;
        max-height: 63rem;
        float: right;
        overflow: hidden;
    }

    .col-2 {
        
        .img-div1 {
            width: 30rem;

            img {
                max-width: 100%;
            }
        }
    }

    .first__col-5 {
        padding-top: 10rem;
    }
}

.prepustite__se--trenutkom {
    .container-fluid-100-right {
        float: right;
    }
}

.nagrade {

}



