
.intro {
    background: linear-gradient(to bottom, white 0%, white 20%, #F8F0EB 20%, #F8F0EB 75%, white 75%, white 100% );
    .last-col {
        position: relative;
        z-index: 1;
    }

    .div123 {
        text-align: center;
    }

    .img-zlica {

    }

    .img-eu {
        position: absolute;
        top: -9%;
        left: 60%;
    }

    .img-button {
        position: absolute; 
        top: 50%;
        left: 60%;
    }
   
}

.container-fluid-100 {
    position: relative;
    width: 95%;
    .col-text { 
        padding: 5rem; 
    }
}


.picContainer {
    position: relative;
    margin-bottom: 26rem;
    .row   {
        height: 75rem;
    }

    .col-md-6{
        margin: 1px; 
      } 

      .pic2 {
          position: absolute;
          bottom: 0;
          right: 0;
      }
}

.section__4 {
    background:  linear-gradient(to bottom, white 0%, white 5%, #F8F0EB 5%, #F8F0EB 80%, white 80%, white 100%);
    .container-fluid-100 {
        width: 95%;
        float: right;
        height: 75rem;
    }

    .first__col-5 {
        padding-top: 7rem;
    }
}

.prepustite__se--trenutkom {
    margin-top: 10rem;
    
    .container-fluid-100-right {
        float: right;
       
    }
    .quote {
        margin-top: 4rem;
    }
}

.nagrade {
    margin-top: 10rem;


    .col-border {
        height: 12rem;
        border-right:  solid 0.1rem black;
    }
}


/////////////////////////
// RESPONSIVE 

@include media-breakpoint-down(xxl) {
    .picContainer {
        .row   {
            height: 52rem;
        }
          .pic2 {
              position: absolute;
                // top: 47%;
              right: -3%;
              width: 38%;
          }

          .col-3 {
            //   margin-top: 5rem !important;
          }
    }


    .section__4 {
        .container-fluid-100 {
            height: 54rem;
        }
    
        .first__col-5 {
            padding-top: 5rem;
        }

        .quote {
            margin-top: 2rem;
        }
    }

    .prepustite__se--trenutkom {

        .div {
            margin-top: -5rem !important;
            
        }
        .link-button {
            padding-top: 1rem !important;
    
        }
        .quote {
            margin-top: 1rem;
        }
    }

}


@include media-breakpoint-down(xl) {
    .img-zlica {
        height: 25rem;
       
    }
    .container-fluid-100 {
        .col-text { 
            padding: 2rem; 
        }
    }

    /////////////////////////////
    .picContainer {
        margin-bottom: 15rem;
        .row   {
            height: 45rem;
        }
    
        .col-md-6{
            margin: 1px; 
          } 
    
          .pic2 {
              position: absolute;
                // top: 40%;
              right: 3%;
              width: 30%;
          }
    }

    .section__4 {
        .container-fluid-100 {
            height: 44rem;
        }
    
        .first__col-5 {
            padding-top: 5rem;
        }

        .quote {
            margin-top: 2rem;
        }
    }

    .nagrade {
        .gault {
            border-right: solid 1px black;
        }
 
        .mojca {
         border-right: none;
        }

        .trip {
            border-right: none;
        }
     }
}

@include media-breakpoint-down(lg) {
    .img-zlica {
        height: 15rem;
       
    }

    .picContainer {
        .row   {
            height: 34rem;
        }
    
        .col-md-6{
            margin: 1px; 
          } 
    
          .pic2 {
              position: absolute;
                // top: 40%;
              right: 8%;
              width: 27%;
          }
    }

    .section__4 {
        .container-fluid-100 {
            height: 34rem;
        }
    
        .first__col-5 {
            padding-top: 3rem;
        }

        .quote {
            margin-top: 2rem;
        }
    }

    
}





@include media-breakpoint-down(md) {
    .section__4 {
        h1 {
            font-size: 3rem;
            color: #483C2D;
            display: inline-block;
            margin: -3rem 0 2rem 1rem;
        }
    }
}