.trznica {
    
    .container-fluid {
        padding-bottom: 3rem;
    }

    .card {
        padding: 0 3rem;
        
        
        .wrapper-image {
            margin-top: 10rem;
            height: 20rem;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }

    


    .carousel {
        
        &-inner {


            .col-md-3 {
                margin-top: 2rem;
                border-right: solid 0.1rem black;
            }
        }

        button {
            opacity: 0;
            transition: all .3s;
        }
    
    }

    .slide-next {
        margin-left: 6rem;
    }

    .slide-prev {
        margin-right: 6rem;
    }
    
    
}