.trznica {
    
    .container-fluid {
        padding-bottom: 5rem;
    }

    .card {
        padding: 0 3rem;
        
        
        .wrapper-image {
            margin-top: 10rem;
            height: 20rem;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }

    .col-3 {
        margin-top: 5rem;
    }
    
}