.trznica {
    
    .container-fluid {
        padding-bottom: 3rem;
    }

    .card {
        padding: 0 3rem;
        
        
        .wrapper-image {
            margin-top: 10rem;
            height: 20rem;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }

    


    .carousel {
        
        &-inner {
            .col-lg-3 {
                margin-top: 2rem;
                border-right: solid 0.1rem black;
            }
        }

        
    
    }

    .slide-next {
        margin-left: 6rem;
    }

    .slide-prev {
        margin-right: 6rem;
    }
}

button {
    display: none;
   
}

// .col-md-3:hover  button {
//     display: block;
//     opacity: 1;
// }

@include media-breakpoint-down(xl) {
    .trznica {
        .col-lg-3 {
        
        }

    
        .card{
            .wrapper-image {
                margin-top: 4rem;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .trznica {
    
        .card{
            .wrapper-image {
                margin-top: 10rem;
            }
        }
    }
 }
